@import '../../colors.scss';
.tab-container {
    padding: 2rem;
    @media (max-width: 768px) {
        padding: 1rem;
    }
    div {
        margin: 1rem 0;
        strong {
            color: $primary-dark;
        }
    }
}
.MuiTabs-root {
    @media (max-width: 768px) {
        min-height: 0px !important;
    }
}
.MuiTab-root{
    color: $primary-dark !important;
}
.projects-container {
    width: 70rem;
}
.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3 !important;
}

.MuiButtonBase-root {
    @media (max-width: 768px) {
        padding: 5px !important;
        min-width: 2rem !important;
        min-height: 2rem !important;
      }
}
